# Stripe API Keys
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Public variables (Client-side)
VITE_STRIPE_PUBLISHABLE_KEY=
VITE_STRIPE_MONTHLY_PRICE_ID=
VITE_STRIPE_YEARLY_PRICE_ID=
VITE_FRONTEND_URL=

# Firebase (Optional: defaults to ADC in Cloud Run)
FIREBASE_SERVICE_ACCOUNT=
